* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #e6e6e6;
  background-image: url(../imgs/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#_main {
  background-image: url(../imgs/top_bg.jpg);
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;
  height: 30rem;
  padding: 7rem 0 0 0;
  border-bottom: 8px solid #ffcf00;
}

.bee {
  width: 2.3rem;
  margin: 0 0 0.5rem 0;
}

.beeSpan {
  margin: 0 0 0 0.2rem;
}

.bumblebee {
  margin: 0.5rem 0 0 0;
}

.profilePic {
  width: 3rem;
  border-radius: 100%;
  margin-left: 1rem;
}
._title_ {
  filter: drop-shadow(1px 4px 2px black);
}

#message {
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

#app {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.center {
  width: 100%;
  font-size: large;
  height: 50%;
  border-radius: 5px;
  background-color: white;
  padding: 2rem;
  filter: drop-shadow(0 1px 2px rgb(115, 115, 115));
  animation: fadeInRight 0.5s ease-in-out;
}

.center img {
  float: left;
}

input {
  background: rgba(255, 255, 255, 0.768);
  border: none;
  outline: none;
  padding-left: 15px;
}

.input-group {
  display: flex;
  justify-content: center;
}

.input_control {
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 52%;
}

.leftColumn {
  border-left: 1px solid lightgrey;
  padding-left: 2.5rem;
}

li {
  list-style: none;
}

.movieBox img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

.movieBox:hover {
  filter: brightness(50%);
  cursor: pointer;
}

#mainPoster {
  width: 20%;
  margin: 1rem 1rem 0 0;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgb(115, 115, 115));
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vmin;
  animation: fadeInRight 0.5s ease-in-out;
}

.movieTitle {
  font-size: 1.3rem;
}

.boxtitle {
  color: rgb(121, 121, 121);
}

.smilierPoster {
  filter: drop-shadow(1px 1px 3px rgb(125, 125, 125));
}

#loader {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 1rem;
  color: #ffcf00;
}

.navbar-brand {
  color: #ffcf00;
  filter: drop-shadow(0 1px 0 rgb(0, 0, 0));
}

.footer {
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}

.bold {
  font-weight: 900;
  color: #ffcf00;
}

/* Ribbon */
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 45px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #ffcf00;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}

a {
  color: #ffcf00;
  text-decoration: none;
}

a:hover {
  color: #bb9800;
}

.moreLikeThis {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(186, 186, 186);
  line-height: 0.1em;
  margin: 10px 0 20px;
  border-radius: 100px;
}

.moreLikeThis,
.h2Span {
  background: #ebebeb;
  padding: 0 8px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Breakpoints */
@media only screen and (max-width: 768px) {
  ._title_ {
    font-size: 1rem;
  }
  .input_control {
    width: 70%;
  }
  #_main {
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  .input_control {
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 80%;
  }
  .leftColumn {
    border-left: none;
    padding-left: 0.7rem;
  }
  .center {
    width: 90%;
    font-size: small;
  }
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  #mainPoster {
    display: none;
  }
  #movieTitle,
  #rating {
    text-align: center;
  }
  #_rating {
    display: flex;
    justify-content: center;
  }
  .boxtitle {
    font-size: 1rem;
  }
  .movieTitle {
    font-size: 1rem;
  }
  .ribbon-2 {
    --t: 10px; /* the top offset */
  }
}
